@import "~normalize.css/normalize.css";
@import "~spectre.css/dist/spectre.css";
/*@import "~spectre.css/dist/spectre-exp.css";*/
/*@import "~spectre.css/dist/spectre-icons.css";*/

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161b27;
  color: #cdd3ea;
}

* {
  box-sizing: border-box;
}

.parallax {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax > *:not(.parallax_group) {
  transform: translateZ(0) scale(1);
}

.parallax_group {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200vh;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.parallax_1 {
  background-image: url("../assets/starfieldC.png");
  transform: translateZ(-300px) scale(2);
}
.parallax_2 {
  background-image: url("../assets/starfieldB.png");
  transform: translateZ(-600px) scale(3);
}
.parallax_3 {
  background-image: url("../assets/starfieldA.png");
  transform: translateZ(-900px) scale(4);
}

.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.4rem;
  margin: 0.4rem;
  height: 60px;
}

.full-height {
  height: calc(100% - 60px);
}

.chip .icon {
  margin-right: 0.2rem;
}

.tile {
  padding-top: 5px;
}

.panel-header {
  border-bottom: 0.05rem solid #e7e9ed;
}

.no-deco {
  text-decoration: none;
  color: inherit;
}

.no-deco:hover,
.no-deco:visited,
.no-deco:focus,
.no-deco:active {
  text-decoration: none;
  color: inherit;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  border: none;
}

.card:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.creation .card-body {
  text-overflow: ellipsis;
  max-height: 90px;
  overflow: hidden;
}

.card-image img {
  height: 300px;
}

.column {
  padding: 0.4rem;
}

.btn {
  border-radius: 5px;
}

.navbar .btn {
  margin-left: 5px;
}

.back {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.text-white {
  color: white;
}

.container {
  padding: 15px 5%;
}

@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 840px) {
}
@media (min-width: 960px) {
}
@media (min-width: 1280px) {
  .container {
    padding: 15px 15%;
  }
}
